/*
 * Footer
 */
 
.mastfoot {
  align-items: center;
  color: rgba($dark-blue, .5);
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.nav-mastfoot .nav-mastfoot-link {
  border-right: 1px solid $grey;
  margin-right: 1rem;
  padding-right: 1rem;

  &:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }
}


@media (min-width: 48em) {
  .mastfoot {
    flex-flow: row;
  }

  .mastfoot-copy {
    margin-right: 2rem;
  }
}
